<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LoginForm</title>
    <div th:replace="/layout/header :: header"></div>
</head>
<style>
    .field-error {
        border-color: red;
        color: red;
    }

    .box {
        display: flex;
        align-items: center;
        justify-content: center;
        /*float: contour;*/
    }
    .form-background{
        background-color: #e7e7e7;
        padding: 20px;
        border-radius: 10%;
    }
</style>
<body>
<div class="box">
    <div class="form-background">
        <form action="#" th:action th:object="${form}" method="post">
            <div th:if="${#fields.hasGlobalErrors()}">
                <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
                <!--        <script>-->
                <!--            alert("아이디 또는 비밀번호가 맞지 않습니다")-->
                <!--        </script>-->
            </div>
            <div class="form-group">
                <label for="loginId">Login Id</label>
                <input type="text" id="loginId" th:field="*{loginId}" placeholder="Enter ID">
            </div>
            <br>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" id="password" th:field="*{password}" placeholder="Enter Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
</body>
</html>
